<table
  mat-table
  [dataSource]="data"
  class="mat-elevation-z8 w-100"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Edad</th>
    <td mat-cell *matCellDef="let element">
      {{ element.age || '-' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="patronus">
    <th mat-header-cell *matHeaderCellDef>Patronus</th>
    <td mat-cell *matCellDef="let element">{{ element.patronus || "-" }}</td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Imagen</th>
    <td mat-cell *matCellDef="let element"><a mat-flat-button color="accent" href="{{ element.image }}">ver imagen</a></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
